
#home { 
	background: url(../images/home.png) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    /*box-shadow: 0 0 50px rgba(0,0,0,0.8); */
}
#about { 
	background: url(../images/about.png) 50% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
   /*  box-shadow: 0 0 50px rgba(0,0,0,0.8); */
}#about1 { 
	background: url(../images/bg3.jpeg) 50% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
   /*  box-shadow: 0 0 50px rgba(0,0,0,0.8); */
}

/* Introduction */

/* #home article { background: url("../images/intro.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

#about article { background: url("../images/parallax.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; } */
#about1 article { background: url("../images/howitworks.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%;opacity:0.8; } 





